<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Poly_Restrict>
            <version>0.1.0</version>
        </Poly_Restrict>
    </modules>
    <global>
        <helpers>
            <restrict>
                <class>Poly_Restrict_Helper</class>
            </restrict>
        </helpers>
        <blocks>
            <restrict>
                <class>Poly_Restrict_Block</class>
            </restrict>
        </blocks>
        <models>
            <restrict>
                <class>Poly_Restrict_Model</class>
            </restrict>
        </models>
        <events>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <poly_product_restriction_on_view>
                        <class>Poly_Restrict_Model_Observer</class>
                        <method>restrictView</method>
                    </poly_product_restriction_on_view>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <controller_action_predispatch_catalog_product_list>
                <observers>
                    <poly_product_restriction_on_list>
                        <class>Poly_Restrict_Model_Observer</class>
                        <method>restrictListing</method>
                    </poly_product_restriction_on_list>
                </observers>
            </controller_action_predispatch_catalog_product_list>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <poly_product_restriction_on_list>
                        <class>Poly_Restrict_Model_Observer</class>
                        <method>restrictListing</method>
                    </poly_product_restriction_on_list>
                </observers>
            </controller_action_predispatch_catalog_category_view>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <poly_addtocart_restriction>
                        <class>Poly_Restrict_Model_Observer</class>
                        <method>restrictView</method>
                    </poly_addtocart_restriction>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <core_block_abstract_to_html_before>
                <observers>
                    <poly_price_restriction>
                        <class>Poly_Restrict_Model_Observer</class>
                        <method>hidePrice</method>
                    </poly_price_restriction>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <poly_restrict>
                    <file>poly/restrict.xml</file>
                </poly_restrict>
            </updates>
        </layout>
    </frontend>
</config>